DB_URL=postgres://postgres:postgres@localhost:5432/postgres

BACKEND_URL=http://localhost:8787
FRONTEND_URL=http://localhost:5173

YOUTUBE_API_KEY=
GROQ_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

WAITLIST_ENABLED=false

# The following credentials are required only when waitlist is enabled
GMAIL_USER=
GOOGLE_APP_PASSWORD=
GRIST_API_KEY=
GRIST_DOC_ID=
GRIST_TABLE_ID=
# Random string for grist auth token(should be used for the webhook authorization)
GRIST_AUTH_TOKEN= 